* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(175, 250, 225);
}

.password-container {
    display: inline-block;
    position: relative;
}

input[type="password"],
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 40px;
    width: 200px;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
}