* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px; 
    color: rgb(223, 73, 98); 
    text-align: center;
    border: 30px;
}

form {
    background-color: rgb(233, 240, 135);
    margin-left: 750px;
    align-items: center;
    padding: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 30px;
    height: 400px;
    width: 300px;
}

input {
    border-radius: 20px;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(184, 252, 167);
    border-radius: 20px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px; 
    cursor: pointer;
}

button:hover{ 
    background-color: rgb(108, 235, 97);
}