* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1e6b0;
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 60px;
    color: rgb(0, 110, 255);
}

p {
    font-size: 2em;
    line-height: 1.5;
    color: black;
    text-align: center;
}

button {
    text-align: center;
    background-color: rgb(102, 150, 238);
    border-color: black;
    border-style: double;
    margin: 60px;
    padding: 10px;
    font-size: 1em;
    border-radius: 30px;
    color: black;
}

button:hover {
    background-color: rgb(60, 110, 175);
    color: white;
}

.buton2 {
    text-align: center;
    background-color: rgb(102, 150, 238);
    border-color: black;
    border-style: double;
    margin: 60px;
    padding: 10px;
    font-size: 1em;
    border-radius: 30px;
    color: black;
}